* {
    box-sizing: border-box;
    outline: none !important;
}

html, body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Ubuntu", "Roboto", "Noto Sans", "Droid Sans", sans-serif;
    font-size: 15px;
    color: #ffffff;
    margin: auto;
    margin-left: 151px;
    line-height: 22.5px;
    margin-top: 100px;
    background: url('arcade.png') no-repeat
        center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.container {
    align-items: center;
    justify-content: center;
    display: flex;
}
.firsthalf {
    flex: 1;
}
.secondhalf {
    flex: 1;
    margin-left: 50px;
}

pre, code {
    font-family: ui-monospace, "Cascadia Mono", "Segoe UI Mono", "Ubuntu Mono", "Roboto Mono", Menlo, Monaco, Consolas, monospace;
    font-size: 13px;
    line-height: 17px;
    background: rgb(246, 246, 246);
}

body {
    display: flex;
    margin: auto;
}

.form-group:not(.layer-2) > label {
    display: block;
    margin-right: 10px;
}

.form-group.layer-2 {
    margin-bottom: 3px;
}

label {
    font-weight: 600;
}
label.inline {
    display: inline-block !important;
}

.form-group {
    margin-bottom: 10px;
}

textarea {
    padding: 3px;
    resize: none;
    width: 300px;
    height: 50px;
}

.narrow {
    padding: 3px;
    resize: none;
    width: 400px;
	height: 25px;
}

.long {
    padding: 3px;
    resize: none;
    width: 400px;
    height: 200px;
}

.wide {
    padding: 3px;
    resize: none;
    width: 400px;
    height: 100px;
}

textarea, input[type="text"], input[type="number"] {
    border: 1px solid #000000;
    border-radius: 10px;
    font-family: ui-monospace, "Cascadia Mono", "Segoe UI Mono", "Ubuntu Mono", "Roboto Mono", Menlo, Monaco, Consolas, monospace;
    font-size: 18px;
    background-color: #292a2c;
    color: #f3ecec;
}

.input[type="number"]::-webkit-scrollbar{
    display: none;
}

input[type="checkbox"] + label {
    display: inline-block !important;
}

input[type="text"] {
    width: 180px;
    padding: 3px;
}
input[type="number"] {
    width: 40px;
    padding: 0px;
    color: rgb(247, 247, 247);
}
input[type="emerald"] {
    width: 40px;
    padding: 0px;
    color: rgb(97, 204, 93);
}

#reportBody {
    height: 600px;
    top: 120px;
    bottom: 140px;
    right: 100px;
    white-space: pre-wrap;
    width: 510px;
    text-align: center;
    position: fixed;
}

#reportBody2 {
    height: 100px;
    width: 600px;
    text-align: center;
    position: fixed;
    margin-top: 50px;
}

label + .form-group.layer-2 {
    margin-top: 10px;
}

input[type="checkbox"] {
    position: relative;
    top: 1px;
}

input.invisible {
    width: 50px;
    border: none;
    border-bottom: 1px solid #a8a8a8;
    border-radius: 0;
    padding-bottom: 1px;
}

button {
    border: 1px solid #c1c1c1;
    background: #ececec;
    padding: 5px 15px;
    cursor: pointer;
    display: inline-block;
    margin-top: 10px;
    transition: 250ms;
}

button:hover {
    background: #c1c1c1;
}

.chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 43px;
    width: 43px;
    border-radius: 50%;
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}


/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;

    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.btn:hover{
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

body{
    background-color: rgb(54, 54, 54);
    margin-bottom: 50px;
    white-space: nowrap;
}

.centered{
    text-align: center;
}