* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito';
}

*::-webkit-scrollbar{
    display: none;
}

.title {
    font-size: 40px;
    padding-top: 20px;
    text-align: center;
}

.container .imageDescription h2 {
    padding-left: 20px;
    font-size: 24px;
}
.container .imageDescription h3 {
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    font-weight: normal;
}
.container h1 {
    text-align: center;
    padding-bottom: 20px;
    font-size: 25px;
    font-weight: normal;
}

.container {
    padding: auto;
}

.homebutton {
    padding-left: 10px;
    padding-top: 10px;
    font-size: 20px;
}

.image {
    padding-left: 20px;
    padding-right: 20px;
    align-items: auto;
}

.homebutton{
    padding-left: 20px;
    padding-top: 20px ;
    font-weight: 600;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    border: 1px solid black;
    border-radius: 10px;
    text-decoration: none;
    color: initial;
    padding: 6px 20px;
}
